# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env

# Logs & reports
logs/
*.log
reports/

# OS files
.DS_Store
Thumbs.db

# DB settings
.env

# Artifacts
.coverage
htmlcov/
.pytest_cache/
*.pyc
__pycache__/

